<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    News
{% endblock title %}

<!-- В контенте на странице мы выводим все посты -->
{% block content %}
    <h1>Все новости</h1>
    <h3> Всего новостей {{ post_count }}</h3>
    <hr>

    <table>
        <thead>
            <th>
                ID новости
            </th>
            <th>
                Заголовок
            </th>
            <th>
                Дата публикации
            </th>
            <th>
                Текст
            </th>
            </th>
        </thead>

        {% for news_one in news|dictsortreversed:"postDTCreate" %}
            <tr>
                <td>
<!--                    {{ news_one.pk }}-->
                    <a href="/news/{{ news_one.pk }}">{{ news_one.pk }}</a> <!-- Ссылка на страницу поста  -->
                </td>
                <td>
                    {{ news_one.postTitle|censor }}
                </td>
                <td>
                    {{ news_one.postDTCreate|date:'d-M-Y H:i' }}
                </td>
                <td>
                    {{ news_one.postText|truncatechars:50|censor }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if is_paginated %}

        <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}

        <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}

    <br>
    <a class="btn btn-primary" href="{% url 'news_add' %}">Добавить пост</a>

{% endblock content %}
