<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    News Delete
{% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данный пост?</h2>
<table>
    <thead>
        <th>
            ID новости
        </th>
        <th>
            Заголовок
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Текст
        </th>
    </thead>
    <tr>
        <td>
            {{ news_delete.pk }}
        </td>
        <td>
            {{ news_delete.postTitle|censor }}
        </td>
        <td>
            {{ news_delete.postDTCreate|date:'d-M-Y H:i' }}
        </td>
        <td>
            {{ news_delete.postText|censor }}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Подтвердить"></form>
{% endblock content %}